{include file='public/header' /}
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 友情链接 <span class="c-gray en">&gt;</span> 链接列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">

	<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> <a class="btn btn-primary radius" data-title="添加链接" data-href="add.html" onclick="nav_add('添加链接','{:url(\'links/create\')}','800','500')" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 添加链接</a></span> <span class="r">共有数据：<strong>{$count}</strong> 条</span> </div>
	<div class="mt-20">
		<table class="table table-border table-bordered table-bg table-hover table-sort table-responsive">
			<thead>
				<tr class="text-c">
					<th width="25"><input type="checkbox" name="" value=""></th>
					<th width="40">排序</th>
					<th width="40">ID</th>
					<th width="200">链接名称</th>
					<th width="120">logo</th>
					<th width="120">URL地址</th>
					<th width="120">添加时间</th>
					<th width="120">操作</th>
				</tr>
			</thead>
			<tbody>
			{foreach $data as $v}
				<tr class="text-c">
					<td><input type="checkbox" value="{$v.id}" name="del"></td>
					<td><input type="text" value="{$v.order}" onchange="changeOrder(this,{$v.id})" style="width: 20px;height: 20px;text-align: center;"></td>
					<td>{$v.id}</td>
					<td class="text-l"><a style="color: #00a0e9">{$v.name}</a></td>
					<td>
						{eq name="$v.logo" value=""}
						{else\}
						<img src="__STATIC__/{$v.logo}" style="width: 180px;max-height: 45px;">
						{/eq}
					</td>
					<td>{$v.url}</td>
					<td>{$v.create_time}</td>
					<td class="f-14 td-manage"><a style="text-decoration:none" class="ml-5" onClick="nav_edit('链接编辑','{:url(\'links/edit\')}'+'?id='+{$v.id},'800','600')" href="javascript:;" title="编辑"><i class="Hui-iconfont">&#xe6df;</i></a> <a style="text-decoration:none" class="ml-5" onClick="nav_del(this,{$v.id})" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
				</tr>
			{/foreach}
			</tbody>
		</table>
	</div>
</div>

{include file='public/base_js' /}

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__STATIC__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__STATIC__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__STATIC__/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">

/*-添加*/
function nav_add(title,url,w,h){
    layer_show(title,url,w,h);
}
/*-编辑*/
function nav_edit(title,url,w,h){
    layer_show(title,url,w,h);
}
/*-删除*/
function nav_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		$.ajax({
			type: 'POST',
			url: "{:url('links/delete')}",
			data:{'id':id},
			dataType: 'json',
			success: function(data){
				$(obj).parents("tr").remove();
                layer.msg(data.msg,{icon:1,time:1000},function () {
                    window.location.href=window.location.href;
                });
			},
			error:function(data) {
				console.log(data.msg);
			},
		});		
	});
}

/*修改排序*/
function changeOrder(obj,cate_id) {
	var order=$(obj).val();
	$.post("{:url('links/changeOrder')}",{'id':cate_id,'order':order},function (data) {
        if(data.code==1){
            layer.msg(data.msg,{icon:1,time:1000},function () {
                window.location.href=window.location.href;
            });
        }else{
            layer.msg(data.msg,{icon:1,time:1000},function () {
                window.location.href=window.location.href;
            });
        }
    });
}

/*批量删除*/
function datadel(){
    layer.confirm('确认要批量删除吗？',function(index){
        var id=[];
        $('input[name="del"]:checked').each(function () {
            id.push($(this).val());
        });

        $.post("{:url('links/delete')}",{'id':id},function (data) {
            if(data.code==1){
                layer.msg(data.msg,{icon:1,time:1000},function () {
                    window.location.href=window.location.href;
                });
            }else{
                layer.msg(data.msg,{icon:1,time:1000},function () {
                    window.location.href=window.location.href;
                });
            }
        })
	});
}

</script> 
</body>
</html>