{include file='public/header'/}
<body>
<div class="page-container">
	<p class="f-20 text-success">欢迎使用网创会<span class="f-14">v1.0</span>后台！</p>
	<p>登录次数：{$data.login_count} </p>
	<p>上次登录IP：{$data.ip}  上次登录时间：{$data.last_time}</p>
	<table class="table table-border table-bordered table-bg">
		<thead>
			<tr>
				<th colspan="7" scope="col">信息统计</th>
			</tr>
			<tr class="text-c">
				<th>统计</th>
				<th>资讯库</th>
				<th>图片库</th>
				<th>会员单位</th>
				<th>个人会员</th>
				<!--<th>管理员</th>-->
			</tr>
		</thead>
		<tbody>
			<tr class="text-c">
				<td>总数</td>
				<td>{$tableInfo.art_total}</td>
				<td>{$tableInfo.banner_total}</td>
				<td>{$tableInfo.company_total}</td>
				<td>{$tableInfo.sign_total}</td>
				<!--<td>20</td>-->
			</tr>
			<tr class="text-c">
				<td>今日</td>
				<td>{$tableInfo.art_today}</td>
				<td>{$tableInfo.banner_today}</td>
				<td>{$tableInfo.company_today}</td>
				<td>{$tableInfo.sign_today}</td>
				<!--<td>0</td>-->
			</tr>
			<tr class="text-c">
				<td>本周</td>
				<td>{$tableInfo.art_week}</td>
				<td>{$tableInfo.banner_week}</td>
				<td>{$tableInfo.company_week}</td>
				<td>{$tableInfo.sign_week}</td>
				<!--<td>0</td>-->
			</tr>
			<tr class="text-c">
				<td>本月</td>
				<td>{$tableInfo.art_month}</td>
				<td>{$tableInfo.banner_month}</td>
				<td>{$tableInfo.company_month}</td>
				<td>{$tableInfo.sign_month}</td>
				<!--<td>0</td>-->
			</tr>
		</tbody>
	</table>
	<table class="table table-border table-bordered table-bg mt-20">
		<thead>
			<tr>
				<th colspan="2" scope="col">服务器信息</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>服务器操作系统 </td>
				<td>{$info.php_os}</td>
			</tr>
			<tr>
				<th width="30%">运行环境</th>
				<td>{$info.software}</td>
			</tr>
			
			<tr>
				<td>服务器IP地址</td>
				<td>{$info.ip}</td>
			</tr>
			<tr>
				<td>服务器域名</td>
				<td>{$info.y_name}</td>
			</tr>
			<tr>
				<td>系统类型及版本号</td>
				<td>{$info.uname}</td>
			</tr>
			<tr>
				<td>服务器的语言种类</td>
				<td>{$info.language}</td>
			</tr>
			<tr>
				<td>运行方式</td>
				<td>{$info.php_method}</td>
			</tr>
			<tr>
				<td>ThinkPHP版本</td>
				<td>{$info.think}</td>
			</tr>
			<tr>
				<td>服务器脚本超时时间 </td>
				<td>{$info.max_execution_time}</td>
			</tr>
			<tr>
				<td>上传附件限制</td>
				<td>{$info.upload_max}</td>
			</tr>
			<tr>
				<td>服务器当前时间 </td>
				<td>{$info.time}</td>
			</tr>
			<tr>
				<td>用户的浏览器信息</td>
				<td>{$info.http}</td>
			</tr>
			<tr>
				<td>虚拟内存 </td>
				<td>{$info.space}</td>
			</tr>
			<tr>
				<td>当前系统用户名 </td>
				<td>{$data.username}</td>
			</tr>
		</tbody>
	</table>
</div>
<footer class="footer mt-20">
	<div class="container">
		<p>
			Copyright &copy;2015-2018 深圳市互联网创业创新服务促进会<br>
			本后台系统由网创会提供技术支持</p>
	</div>
</footer>

{include file='public/base_js' /}

</body>
</html>