{include file='public/header' /}
{include file='public/nav' /}
<!--协会简介、组织架构、协会指南、分支机构-->
<div class="banner-pic">
    <img src="__STATIC__/{$banner.b_img}" class="logo-img" alt="{$banner.b_name}">
</div>
<div class="container list-mode">
    <div class="row">
        <div class="col-md-3">
            <div class="left-nav">
                <ul class="ul-left-mode">
                    <li class="li-title">{$pageTitle}</li>
                    {foreach $leftNav as $i=>$l}
                        {eq name="$navId" value="$i"}
                            <li class="li-nav active"><a href="{:url('user/user_info')}?id={$i}">{$l}</a></li>
                        {else\}
                            <li class="li-nav"><a href="{:url('user/user_info')}?id={$i}">{$l}</a></li>
                        {/eq}
                    {/foreach}
                    <li class="li-nav"><a href="{:url('index/login_close')}">退出登录</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-9">
           <div class="page-position">
               <span class="glyphicon glyphicon-home" style="color:#1779b8;"></span>
               <a href="{:url('index/index')}">首页</a>
               &gt;&gt;
               <a href="#">{$navTitle}</a>
           </div>
            <div class="article user-mode">

                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                        <input type="hidden" value="{$info.email}" id="email">
                        <input type="password" class="form-control" name="password" value="{$info.password}" placeholder="请登录密码">
                    </div>
                    <div class="form-group" style="text-align: center">
                        <button type="submit" class="btn btn-primary" id="submit">修改密码</button>
                    </div>

            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="__STATIC__/index/js/base64.js"></script>
<script>
    $('#submit').click(function () {
        if($('[name="password"]').val()==''||$('[name="password"]').val().length<6){
            layer.msg('请输入正确的密码!')
        }else{
            var b=new Base64();
            $('[name="password"]').val(b.encode($('[name="password"]').val()));
            $.ajax({
                type: 'POST',
                url: "{:url('edit_pass')}",
                data: {email:$('#email').val(),password:$('[name="password"]').val()},
                dataType: 'json',
                success: function (data) {
                    console.log(data)
                    if (data.code == 1) {
                        layer.msg(data.msg, {icon: 1, time: 1000});
                    } else {
                        layer.msg(data.msg, {icon: 5, time: 3000}, function () {
                            $('[name="password"]').val('');
                        });
                    }
                },
                error: function (data) {
                    console.log(data.msg);
                },
            });
        }
    })
</script>
{include file='public/footer' /}