{include file='public/header' /}
{include file='public/nav' /}
<!--协会简介、组织架构、协会指南、分支机构-->
<div class="banner-pic">
    <img src="__STATIC__/{$banner.b_img}" class="logo-img" alt="{$banner.b_name}">
</div>

<div class="container create-art list-mode">
    <div class="page-position">
        <span class="glyphicon glyphicon-home" style="color:#1779b8;"></span>
        <a href="{:url('index/index')}">首页</a>
        &gt;&gt;
        <a href="{:url('user/user_info?id=1')}">我的发布</a>&gt;&gt;
        <a href="#">写文章</a>
    </div>
        <div class="input-group">
            <span class="input-title">文章标题</span>
            <input type="text" class="input-vuale" name="art_title" placeholder="必填,请输入文章标题">
        </div>
        <div class="input-group">
            <span class="input-title">缩略图</span>
            <input type="file" class="input-vuale" id="avator" placeholder="请选择封面图">
            <input type="hidden" name="art_thumb" id="avatorVal" value="">
            <img class="preview" alt="预览头像" style="max-width: 180px;height: 120px;display: none;margin-top: 4px;">
        </div>
        <div class="input-group">
            <span class="input-title">简介</span>
            <textarea class="input-textarea" placeholder="必填,输入字符140字内" name="abstract"></textarea>
        </div>
        <div class="con-mode">
            <span class="input-title">正文内容</span>
            <div id="toolbar" class="toolbar" style="flex-wrap:wrap;"></div>
            <div id="editCon" class="text">
            </div>
        </div>
        <div class="fo-btn">
            <button id="btn1" class="btn btn-primary">提交</button>
            <button id="btn2" class="btn btn-default">取消</button>
        </div>
</div>
<!-- 引入 Quill 库 -->
<script src="__STATIC__/index/js/wangEditor.min.js"></script>
<script type="text/javascript" src="__STATIC__/lib/layer/2.4/layer.js"></script>

<!-- 初始化 Quill 编辑器 -->
<script type="text/javascript">
    var E = window.wangEditor
    var editor= new E('#toolbar', '#editCon')  // 两个参数也可以传入 elem 对象，class 选择器
    editor.customConfig.menus = [
        'head',  // 标题
        'bold',  // 粗体
        'fontSize',  // 字号
        'fontName',  // 字体
//        'italic',  // 斜体
        'underline',  // 下划线
//        'strikeThrough',  // 删除线
        'foreColor',  // 文字颜色
//        'backColor',  // 背景颜色
        'link',  // 插入链接
//        'list',  // 列表
        'justify',  // 对齐方式
        'quote',  // 引用
        'emoticon',  // 表情
        'image',  // 插入图片
//        'table',  // 表格
//        'video',  // 插入视频
//        'code',  // 插入代码
        'undo',  // 撤销
//        'redo'  // 重复
    ]
    editor.customConfig.uploadImgShowBase64 = true   // 使用 base64 保存图片
    editor.customConfig.zIndex = 50;
    editor.create();

    $('#avator').change(function () {
        if (this.files.length != 0) {
            var file = this.files[0],
                reader = new FileReader();
            if (!reader) {
                this.value = '';
                return;
            };
            console.log(file.size)
            if (file.size >= 1024 * 1024 / 2) {
                layer.msg("请上传小于512kb的图片!");
                return
            }
            reader.onload = function (e) {
                this.value = '';
                $('.preview').attr('src', e.target.result)
                $('.preview').fadeIn().css('display','block')
                $('#avatorVal').val(e.target.result)
            };
            reader.readAsDataURL(file);
        };
    })

    document.getElementById('btn1').addEventListener('click', function () {
        // 读取 html//提交
        var title=$('input[name="art_title"]').val(),
            abstract=$('textarea[name="abstract"]').val(),
            art_thumb=$('input[name="art_thumb"]').val(),
            art_content=editor.txt.text();
        if(title==''||title.length>50){
            layer.msg('文章标题必填且不能超50个字符！');
            return;
        }

        if(abstract==''||abstract.length>140){
            layer.msg('简介必填且不能超140个字符！');
            return;
        }
        if(art_content==''){
            layer.msg('文章内容必填！');
            return;
        }
        var data={
            art_title:title,
            abstract:abstract,
            art_thumb:art_thumb,
            art_content:editor.txt.html(),
            uid:'{$info.rid}',
            art_author:'{$info.email}'
        }
        console.log(editor.txt.html());
        $.ajax({
            type: 'POST',
            url: "{:url('user/save')}",
            data:data,
            dataType: 'json',
            success: function(data){
                if(data.code==1){
                    layer.msg(data.msg,{icon:1,time:1000},function () {
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                        window.location.href="{:url('user/user_info')}?id=1";
                    });
                }else{
                    layer.msg(data.msg,{icon:5,time:1000});
                }
            },
            error:function(data) {
                console.log(data.msg);
            },
        });

    }, false);

    document.getElementById('btn2').addEventListener('click', function () {
        // 读取 text//取消
        editor.txt.html('')
    }, false)
</script>