<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="__STATIC__/fifa/css/main.css">
    <script src="__STATIC__/fifa/js/lib/jquery.min.js"></script>
    <script src="__STATIC__/fifa/js/lib/html2canvas.js"></script>
    <script src="__STATIC__/fifa/js/fontSize.js"></script>
    <title>伪球迷世界杯</title>
  </head>
  <body>
    <div class="page">
      <div class="page-top"><img class="top-banner" src="__STATIC__/fifa/img/banner.png">
        <div class="top-title"></div>
      </div>
      <div class="page-content">
        <div class="content-box">
          <div class="country-items items-size">
            <div class="scroll-bg">
              <div class="scroll"></div>
            </div>
            <div class="list">
              <div class="item-box">
                <div class="item-li tab-1" data-name="阿根廷"> </div><span>阿根廷</span>
              </div>
              <div class="item-box">
                <div class="item-li tab-2" data-name="德国"></div><span>德国</span>
              </div>
              <div class="item-box">
                <div class="item-li tab-3" data-name="巴西"></div><span>巴西</span>
              </div>
              <div class="item-box">
                <div class="item-li tab-4" data-name="中国"></div><span>中国</span>
              </div>
              <div class="item-box">
                <div class="item-li tab-5" data-name="法国"></div><span>法国</span>
              </div>
              <div class="item-box">
                <div class="item-li tab-6" data-name="西班牙"></div><span>西班牙</span>
              </div>
              <div class="item-box">
                <div class="item-li tab-7" data-name="英格兰"></div><span>英格兰</span>
              </div>
              <div class="item-box">
                <div class="item-li tab-8" data-name="葡萄牙"></div><span>葡萄牙</span>
              </div>
              <div class="item-box">
                <div class="item-li tab-9" data-name="韩国"></div><span>韩国</span>
              </div>
              <div class="item-box">
                <div class="item-li tab-10" data-name="俄罗斯"></div><span>俄罗斯</span>
              </div>
              <div class="item-box">
                <div class="item-li tab-11" data-name="乌拉圭"></div><span>乌拉圭</span>
              </div>
              <div class="item-box">
                <div class="item-li tab-12" data-name="克罗地亚"></div><span>克罗地亚</span>
              </div>
              <div class="item-box">
                <div class="item-li tab-13" data-name="塞尔维亚"></div><span>塞尔维亚</span>
              </div>
              <div class="item-box">
                <div class="item-li tab-14" data-name="尼日利亚"></div><span>尼日利亚</span>
              </div>
              <div class="item-box">
                <div class="item-li tab-15" data-name="瑞典"></div><span>瑞典</span>
              </div>
              <div class="item-box">
                <div class="item-li tab-16" data-name="丹麦"></div><span>丹麦</span>
              </div>
              <div class="item-box">
                <div class="item-li tab-17" data-name="比利时"></div><span>比利时</span>
              </div>
              <div class="item-box">
                <div class="item-li tab-18" data-name="沙特"></div><span>沙特阿拉伯</span>
              </div>
              <div class="item-box">
                <div class="item-li tab-19" data-name="塞内加尔"></div><span>塞内加尔</span>
              </div>
              <div class="item-box">
                <div class="item-li tab-20" data-name="哥伦比亚"></div><span>哥伦比亚</span>
              </div>
              <div class="item-box">
                <div class="item-li tab-21" data-name="波兰"></div><span>波兰</span>
              </div>
              <div class="item-box">
                <div class="item-li tab-22" data-name="伊朗"></div><span>伊朗</span>
              </div>
              <div class="item-box">
                <div class="item-li tab-23" data-name="日本"></div><span>日本</span>
              </div>
              <div class="item-box">
                <div class="item-li tab-24" data-name="瑞士"></div><span>瑞士</span>
              </div>
              <div class="item-box">
                <div class="item-li tab-25" data-name="墨西哥"></div><span>墨西哥</span>
              </div>
              <div class="item-box">
                <div class="item-li tab-26" data-name="埃及"></div><span>埃及</span>
              </div>
              <div class="item-box">
                <div class="item-li tab-27" data-name="巴拿马"></div><span>巴拿马</span>
              </div>
              <div class="item-box">
                <div class="item-li tab-28" data-name="澳大利亚"></div><span>澳大利亚</span>
              </div>
              <div class="item-box">
                <div class="item-li tab-29" data-name="秘鲁"></div><span>秘鲁</span>
              </div>
              <div class="item-box">
                <div class="item-li tab-30" data-name="突尼斯"></div><span>突尼斯</span>
              </div>
              <div class="item-box">
                <div class="item-li tab-31" data-name="冰岛"></div><span>冰岛</span>
              </div>
              <div class="item-box">
                <div class="item-li tab-32" data-name="摩洛哥"></div><span>摩洛哥</span>
              </div>
              <div class="item-box">
                <div class="item-li tab-33" data-name="哥斯达黎加"></div><span>哥斯达黎加</span>
              </div>
            </div>
          </div>
          <div class="country-select">
            <div class="flag"></div>
          </div>
        </div>
      </div>
      <div class="page-bottem"><a class="next" href="#">下一步</a></div>
    </div>
    <script src="__STATIC__/fifa/js/main.js"></script>
  </body>
</html>