<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="__STATIC__/fifa/css/main.css">
    <script src="__STATIC__/fifa/js/lib/jquery.min.js"></script>
    <script src="__STATIC__/fifa/js/lib/html2canvas.js"></script>
    <script src="__STATIC__/fifa/js/fontSize.js"></script>
    <title>伪球迷世界杯</title>
  </head>
  <body>
    <div class="main" id="page3">
      <div class="top-mode"><img class="banner" src="__STATIC__/fifa/img/banner.png" alt="banner">
        <div class="rank-text"><span class="hits">63332</span><span>人猜冠军是</span><span class="nation">哥斯达黎加</span><small>支持度排名</small><small class="rank-val">1  </small></div>
      </div>
      <div class="conter-info">
        <div class="conter-text"><span class="befor-icon"></span><span class="after-icon"></span></div>
        <div class="check-mode">
          <div class="check-nation">中国</div>
          <div class="check-tag">因为有我当前锋</div>
        </div>
        <div class="qcode-mode"><a class="qcode-img" href="#"></a>
          <h3 class="a-text">长按图片分享&nbsp;&nbsp;.&nbsp;&nbsp;召唤你的伪球迷</h3>
        </div>
      </div>
    </div><img id="curTpl" src="">
    <script src="__STATIC__/fifa/js/main.js"></script>
    <script src="__STATIC__/fifa/js/page3.js"></script>
  </body>
</html>