<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="__STATIC__/fifa/css/main.css">
    <script src="__STATIC__/fifa/js/lib/jquery.min.js"></script>
    <script src="__STATIC__/fifa/js/lib/html2canvas.js"></script>
    <script src="__STATIC__/fifa/js/fontSize.js"></script>
    <title>伪球迷世界杯</title>
  </head>
  <body>
    <div class="main" id="page2">
      <div class="top-mode"><img class="banner" src="__STATIC__/fifa/img/banner.png" alt="banner">
        <div class="top-text"></div>
      </div>
      <div class="conter-mode">
        <div class="tag-mode"><span class="tag-items tag-item1">铁血</span><span class="tag-items tag-item2">浪漫</span><span class="tag-items tag-item3">野性</span><span class="tag-items tag-item4">讲究传控</span><span class="tag-items tag-item5">灵魂桑巴</span><span class="tag-items tag-item6">颜值高</span><span class="tag-items tag-item7">大长腿</span><span class="tag-items tag-item8">眼睛大</span><span class="tag-items tag-item9">黑</span><span class="tag-items tag-item10">长得帅</span><span class="tag-items tag-item11">有我当前锋</span><span class="tag-items tag-item12">发型酷</span>
          <div class="circle_1 pulse"><span class="shou-icon"></span></div>
        </div>
        <div class="input-mode">
          <div class="import-val">
            <input class="input-value" type="text" placeholder="你来写..." maxLength="8">
          </div>
          <div class="input-text-show"><span class="befor-text">因为</span><span class="last-text">有我当前锋</span></div>
        </div>
      </div>
      <div class="btn-mode"><a class="page-next">生成我的伪球迷海报</a></div>
    </div>
    <script src="__STATIC__/fifa/js/main.js"></script>
    <script src="__STATIC__/fifa/js/page2.js"></script>
  </body>
</html>