<footer>
    <div class="container">
        <div class="footer-nav">
            <div class="nav-items">
                <a href="{:url('index')}">
                    网站首页
                </a>
            </div>
            |
            <div class="nav-items">
                <a href="{:url('about_us')}?id=2">
                    关于我们
                </a>
            </div>
            |
            <div class="nav-items">
                <a href="{:url('join_us')}?id=2">
                    联系我们
                </a>
            </div>
            |
            <div class="nav-items">
                <a href="{:url('join_us')}?id=3">
                    加入我们
                </a>
            </div>
        </div>
        <div class="address">
            <span>{$copyRight.address}</span>
            <span>电话：{$copyRight.tel}</span>
            <span>Email：{$copyRight.email}</span>
        </div>
        <div class="copy-right">
            <p>{$copyRight.copy}<a href="#">{$copyRight.icp}</a></p>
        </div>

    </div>
</footer>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="__STATIC__/index/js/main.js"></script>
<script type="text/javascript" src="__STATIC__/lib/layer/2.4/layer.js"></script>
</body>
</html>