{include file='public/header'/}
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 评论管理 <span class="c-gray en">&gt;</span> 意见反馈 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> </span></div>
	<div class="mt-20">
		<table class="table table-border table-bordered table-hover table-bg table-sort">
			<thead>
				<tr class="text-c">
					<th width="25"><input type="checkbox" name="" value=""></th>
					<th width="60">ID</th>
					<th width="60">用户名</th>
					<th>留言内容</th>
					<th width="120">留言时间</th>
					<th width="120">手机号</th>
					<th width="120">邮箱</th>
					<th width="100">操作</th>
				</tr>
			</thead>
			<tbody>
			{foreach $data as $v}
				<tr class="text-c">
					<td><input type="checkbox" value="{$v.f_id}" name="del"></td>
					<td>{$v.f_id}</td>
					<td>{$v.f_name}</td>
					<td class="text-l">{$v.f_content}</td>
					<td>{$v.create_time}</td>
					<td>{$v.f_phone}</td>
					<td>{$v.f_email}</td>
					<td class="td-manage">
						{eq name='$v.f_statue' value="0"}
						<a style="text-decoration:none" onClick="feedback_start(this,'{$v.f_id}')" href="javascript:;" title="停用"><i class="Hui-iconfont">&#xe631;</i></a>
						{else/}
						<a style="text-decoration:none" onClick="feedback_stop(this,'{$v.f_id}')" href="javascript:;" title="启用"><i class="Hui-iconfont">&#xe6e1;</i></a>
						{/eq}
						<a title="删除" href="javascript:;" onclick="feedback_del(this,'{$v.f_id}')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
					</td>
				</tr>
			{/foreach}
			</tbody>
		</table>
	</div>
</div>

<!--_footer 作为公共模版分离出去-->
{include file='public/base_js' /}


<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__STATIC__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__STATIC__/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
$(function(){
	$('.table-sort').dataTable({
		"aaSorting": [[ 1, "desc" ]],//默认第几个排序
		"bStateSave": true,//状态保存
        "bFilter": false,//过滤功能
		"aoColumnDefs": [
		  //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
		  {"orderable":false,"aTargets":[0,2,3,5,6,7]}// 制定列不参与排序
		]
	});

});

/*停用*/
function feedback_stop(obj,id){
	layer.confirm('确认要停用吗？',function(index){
        $.ajax({
            type: 'POST',
            url:"{:url('messages/f_statue')}",
            data:{'f_id':id,'f_statue':0},
            dataType: 'json',
            success: function(data){
                $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="feedback_start(this,id)" href="javascript:;" title="启用"><i class="Hui-iconfont">&#xe631;</i></a>');
                $(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">已停用</span>');
                $(obj).remove();
                layer.msg('已停用!',{icon: 5,time:1000},function(){
                    window.location.href=window.location.href;
                });
            },
            error:function(data) {
                console.log(data.msg);
            },
        });
	});
}

/*启用*/
function feedback_start(obj,id){
	layer.confirm('确认要启用吗？',function(index){

        $.ajax({
            type: 'POST',
            url:"{:url('messages/f_statue')}",
            data:{'f_id':id,'f_statue':1},
            dataType: 'json',
            success: function(data){
                $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="feedback_stop(this,id)" href="javascript:;" title="停用"><i class="Hui-iconfont">&#xe6e1;</i></a>');
                $(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已启用</span>');
                $(obj).remove();
                layer.msg('已启用!',{icon: 6,time:1000},function(){
                    window.location.href=window.location.href;
                });
            },
            error:function(data) {
                console.log(data.msg);
            },
        });
	});
}

/*删除*/
function feedback_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		$.ajax({
			type: 'POST',
			url: "{:url('messages/f_del')}",
			data:{'f_id':id},
			dataType: 'json',
			success: function(data){
				$(obj).parents("tr").remove();
                if(data.code==1){
                    layer.msg(data.msg,{icon:1,time:1000},function () {
                        window.location.href=window.location.href;
                    });
                }else{
                    layer.msg(data.msg,{icon:1,time:1000},function () {
                        window.location.href=window.location.href;
                    });
                }
			},
			error:function(data) {
				console.log(data.msg);
			},
		});		
	});
}


/*批量删除*/
function datadel(){
    layer.confirm('确认要批量删除吗？',function(index){
        var id=[];
        $('input[name="del"]:checked').each(function () {
            id.push($(this).val());
        });

        if(id.length==0){
            layer.msg('请选择批量删除列！',{icon:1,time:1000});
            return false;
		}
        $.post("{:url('messages/f_del')}",{'f_id':id},function (data) {
            if(data.code==1){
                layer.msg(data.msg,{icon:1,time:1000},function () {
                    window.location.href=window.location.href;
                });
            }else{
                layer.msg(data.msg,{icon:1,time:1000},function () {
                    window.location.href=window.location.href;
                });
            }
        })
    });
}


</script>
</body>
</html>