<aside class="Hui-aside">
    <div class="menu_dropdown bk_2">
        <dl id="menu-article">
            <dt><i class="Hui-iconfont">&#xe616;</i> 资讯管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('article/industry')}" data-title="业界动态" href="javascript:void(0)">业界动态</a></li>
                    <li><a data-href="{:url('article/activity')}" data-title="协会活动" href="javascript:void(0)">协会活动</a></li>
                    <li><a data-href="{:url('article/x_news')}" data-title="会员资讯" href="javascript:void(0)">会员资讯</a></li>
                    <li><a data-href="{:url('article/z_info')}" data-title="政策信息" href="javascript:void(0)">政策信息</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-picture">
            <dt><i class="Hui-iconfont">&#xe613;</i> 图片管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('banner/index')}" data-title="图片管理" href="javascript:void(0)">轮播图管理</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-category">
            <dt><i class="Hui-iconfont">&#xe618;</i> 分类管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('category/index')}" data-title="分类管理" href="javascript:void(0)">分类管理</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-product">
            <dt><i class="Hui-iconfont">&#xe620;</i> 加入协会<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('aboutus/initiation')}" data-title="入会指南" href="javascript:void(0)">入会指南</a></li>
                    <li><a data-href="{:url('download/index')}" data-title="下载专区" href="javascript:void(0)">下载专区</a></li>
                    <li><a data-href="{:url('recruitment/index')}" data-title="招聘信息" href="javascript:void(0)">招聘信息</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-comments">
            <dt><i class="Hui-iconfont">&#xe6dc;</i> 协会服务<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('services/index')}" data-title="服务列表" href="javascript:;">服务列表</a></li>
                    <!--<li><a data-href="{:url('services/index')}" data-title="资源对接" href="javascript:void(0)">资源对接</a></li>-->
                    <!--<li><a data-href="{:url('services/index')}" data-title="双创辅助" href="javascript:;">双创辅助</a></li>-->
                    <!--<li><a data-href="{:url('services/index')}" data-title="项目申请" href="javascript:void(0)">项目申请</a></li>-->
                    <!--<li><a data-href="{:url('services/index')}" data-title="投融服务" href="javascript:;">投融服务</a></li>-->
                    <!--<li><a data-href="{:url('services/index')}" data-title="会议会展" href="javascript:void(0)">会议会展</a></li>-->
                    <!--<li><a data-href="{:url('services/index')}" data-title="年度评选" href="javascript:;">年度评选</a></li>-->
                    <!--<li><a data-href="{:url('services/index')}" data-title="宣传推广" href="javascript:void(0)">宣传推广</a></li>-->
                </ul>
            </dd>
        </dl>
        <dl id="menu-member">
            <dt><i class="Hui-iconfont">&#xe60d;</i> 会员展示<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('membercompany/index')}" data-title="会员单位" href="javascript:;">会员单位</a></li>
                    <!--<li><a data-href="{:url('membersign/index')}" data-title="个人会员" href="javascript:;">个人会员</a></li>-->
                    <li><a data-href="{:url('partisan/partisan_index')}" data-title="理事单位" href="javascript:;">理事单位</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-us">
            <dt><i class="Hui-iconfont">&#xe63a;</i> 关于协会<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('aboutus/index')}" data-title="协会简介" href="javascript:;">协会简介</a></li>
                    <li><a data-href="{:url('aboutus/framework')}" data-title="组织架构" href="javascript:void(0)">组织架构</a></li>
                    <li><a data-href="{:url('leader/leader_index')}" data-title="协会领导" href="javascript:;">协会领导</a></li>
                    <li><a data-href="{:url('counselor/index')}" data-title="专家顾问" href="javascript:void(0)">专家顾问</a></li>
                    <!--<li><a data-href="{:url('partisan/partisan_index')}" data-title="理事单位" href="javascript:;">理事单位</a></li>-->
                    <li><a data-href="{:url('aboutus/organization')}" data-title="分支机构" href="javascript:void(0)">分支机构</a></li>
                </ul>
            </dd>
        </dl>

        <dl id="menu-school">
            <dt><i class="Hui-iconfont">&#xe6ed;</i> 双创学院<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('schools/index')}" data-title="双创学院列表" href="javascript:;">双创学院列表</a></li>
                    <!--<li><a data-href="{:url('messages/index')}" data-title="区块链类培训" href="javascript:void(0)">区块链类培训</a></li>-->
                    <!--<li><a data-href="{:url('messages/p_index')}" data-title="品牌类培训" href="javascript:;">品牌类培训</a></li>-->
                    <!--<li><a data-href="{:url('messages/index')}" data-title="互联网类培训" href="javascript:void(0)">互联网类培训</a></li>-->
                </ul>
            </dd>
        </dl>
        <dl id="menu-links">
            <dt><i class="Hui-iconfont">&#xe6e1;</i> 友情链接<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('links/index')}" data-title="链接列表" href="javascript:void(0)">链接列表</a></li>
                </ul>
            </dd>
        </dl>
        <dl id="menu-admin">
            <dt><i class="Hui-iconfont">&#xe62d;</i> 管理员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <!--<li><a data-href="admin-role.html" data-title="角色管理" href="javascript:void(0)">角色管理</a></li>-->
                    <!--<li><a data-href="admin-permission.html" data-title="权限管理" href="javascript:void(0)">权限管理</a></li>-->
                    <li><a data-href="{:url('admin/index')}" data-title="管理员列表" href="javascript:void(0)">管理员列表</a></li>
                </ul>
            </dd>
        </dl>
        <!--<dl id="menu-tongji">-->
            <!--<dt><i class="Hui-iconfont">&#xe61a;</i> 系统统计<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>-->
            <!--<dd>-->
                <!--<ul>-->
                    <!--<li><a data-href="charts-1.html" data-title="折线图" href="javascript:void(0)">折线图</a></li>-->
                    <!--<li><a data-href="charts-2.html" data-title="时间轴折线图" href="javascript:void(0)">时间轴折线图</a></li>-->
                    <!--<li><a data-href="charts-3.html" data-title="区域图" href="javascript:void(0)">区域图</a></li>-->
                    <!--<li><a data-href="charts-4.html" data-title="柱状图" href="javascript:void(0)">柱状图</a></li>-->
                    <!--<li><a data-href="charts-5.html" data-title="饼状图" href="javascript:void(0)">饼状图</a></li>-->
                    <!--<li><a data-href="charts-6.html" data-title="3D柱状图" href="javascript:void(0)">3D柱状图</a></li>-->
                    <!--<li><a data-href="charts-7.html" data-title="3D饼状图" href="javascript:void(0)">3D饼状图</a></li>-->
                <!--</ul>-->
            <!--</dd>-->
        <!--</dl>-->
        <dl id="menu-system">
            <dt><i class="Hui-iconfont">&#xe62e;</i> 系统管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('system/index')}" data-title="系统设置" href="javascript:void(0)">系统设置</a></li>
                    <li><a data-href="{:url('nav/index')}" data-title="栏目管理" href="javascript:void(0)">栏目管理</a></li>
                    <li><a data-href="{:url('city/index')}" data-title="数据字典" href="javascript:void(0)">数据字典</a></li>
                    <li><a data-href="{:url('system/shielding')}" data-title="屏蔽词" href="javascript:void(0)">屏蔽词</a></li>
                    <li><a data-href="{:url('system/log')}" data-title="系统消息" href="javascript:void(0)">系统消息</a></li>
                </ul>
            </dd>
        </dl>
    </div>
</aside>
