{include file='public/header' /}
{include file='public/nav' /}
<div class="container" style="margin-top: 80px;min-height: 500px;">
    <article class="art-mode">
        <div class="details-mode">
            <h2>{$con.name}</h2>
            <div class="aut">
                <span>发布时间：{$con.create_time}</span>
            </div>
        </div>
        <div class="article">
            {$con.content}
        </div>
        <div class="company-code" style="width: 220px;height: auto;margin: 120px auto 0 auto;text-align: center">
            <img src="__STATIC__/{$copyRight.qr_code}" alt="网创会二维码" style="width: 200px; height: 200px;">
            <p style="color: #0e90d2">关注深圳市网创会公众号</p>
        </div>
    </article>
</div>

{include file='public/footer' /}