{include file='public/header' /}
{include file='public/nav' /}
<div class="banner-pic">
    <img src="__STATIC__/{$banner.b_img}" class="logo-img" alt="{$banner.b_name}">
</div>
<div class="container detail-container" style="min-height: 500px;">
    <article class="art-mode">
        <div class="details-mode">
            <h2>{$pageTitle}</h2>
            <div class="aut">
            </div>
        </div>
        <div class="article">
            {foreach $con as $i=>$s}
            <h3><a href="{:url('download')}?id={$s.id}">{$i+1}.{$s.name}</a> </h3>
            {/foreach}

        </div>

    </article>
</div>

{include file='public/footer' /}