{include file='public/header' /}
{include file='public/nav' /}
<div class="banner-pic">
    <img src="__STATIC__/{$banner.b_img}" class="logo-img" alt="{$banner.b_name}">
</div>
<div class="container list-mode">
    <div class="row">
        <div class="col-md-3">
            <div class="left-nav">
                <ul class="ul-left-mode">
                    <li class="li-title">{$pageTitle}</li>
                    {foreach $leftNav as $i=>$l}
                        {eq name="$navId" value="$i"}
                            <li class="li-nav active"><a href="{:url('new_list')}?id={$i+2}">{$l}</a></li>
                        {else\}
                            <li class="li-nav"><a href="{:url('new_list')}?id={$i+2}">{$l}</a></li>
                        {/eq}
                    {/foreach}
                </ul>
            </div>
        </div>
        <div class="col-md-9">
           <div class="page-position">
               <span class="glyphicon glyphicon-home" style="color:#1779b8;"></span>
               <a href="{:url('index')}">首页</a>
               &gt;&gt;
               <a href="#">{$navTitle}</a>
           </div>
            <ul class="con-list-mode">
                {foreach $yjNews as $y}
                <li class="con-list-items">
                    <a href="{:url('details')}?id={$y.id}">
                        <div class="con-md-2 left-time">
                            <div class="d-time">{$y.create_time|strtotime|date="d",###}</div>
                            <div class="m-time">{$y.create_time|strtotime|date="m",###}</div>
                        </div>
                        <div class="col-md-10 art-con">
                            <h3 class="art-con-title">{$y.art_title}</h3>
                            <p class="art-keywords">{$y.abstract}</p>
                        </div>
                    </a>
                </li>
                {/foreach}
                <li class="page-list">
                    {$yjNews->render()}
                </li>
            </ul>
        </div>
    </div>
</div>







{include file='public/footer' /}