{include file='public/header' /}
{include file='public/nav' /}
<!--个人会员-->
<div class="banner-pic">
    <img src="__STATIC__/{$banner.b_img}" class="logo-img" alt="{$banner.b_name}">
</div>
<div class="container list-mode">
    <div class="row">
        <div class="col-md-3">
            <div class="left-nav">
                <ul class="ul-left-mode">
                    <li class="li-title">{$pageTitle}</li>
                    {foreach $leftNav as $i=>$l}
                        {eq name="$navId" value="$i"}
                            <li class="li-nav active"><a href="{:url('member_show')}?id={$i+2}">{$l}</a></li>
                        {else\}
                            <li class="li-nav"><a href="{:url('member_show')}?id={$i+2}">{$l}</a></li>
                        {/eq}
                    {/foreach}
                </ul>
            </div>
        </div>
        <div class="col-md-9">
           <div class="page-position">
               <span class="glyphicon glyphicon-home" style="color:#1779b8;"></span>
               <a href="{:url('index')}">首页</a>
               &gt;&gt;
               <a href="#">{$navTitle}</a>
           </div>
            <ul class="con-list-mode">

                <li class="con-list-items row">
                    {foreach $yjNews as $y}
                        <div class="col-md-3">
                            <div class="m-mode">
                                {eq name="$y.pics" value=""}
                                <div class="no-img">200*150(默认)</div>
                                {else\}
                                <img src="__STATIC__/{$y.pics}" class="no-img" alt="头像">
                                {/eq}
                                <p class="m-name">{$y.name}</p>
                                <div class="ms-show">
                                    <p><b>简介：{$y.describe}</b></p>
                                    <p><b>手机：{$y.tel}</b></p>
                                    <p><b>邮箱：{$y.email}</b></p>
                                </div>
                            </div>
                        </div>
                    {/foreach}
                </li>
                <li class="page-list">
                    {$yjNews->render()}
                </li>
            </ul>
        </div>
    </div>
</div>







{include file='public/footer' /}