{include file='public/header' /}
{include file='public/nav' /}
<div class="banner-pic">
    <img src="__STATIC__/{$banner.b_img}" class="logo-img" alt="{$banner.b_name}">
</div>
<div class="container detail-container" style="min-height: 500px;">
    <article class="art-mode">
        <div class="details-mode">
            <h2>{$pageTitle}</h2>
            <div class="aut">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 hidden-xs" style="margin-top: 30px">
                <img src="__STATIC__/index/imgs/ruhui-l1.png">
            </div>
            <div class="article col-md-6">
                <div class="s-list">
                    <h3><b>政企桥梁</b></h3>
                    <div>{$con.bridge}</div>
                </div>
                <div class="s-list">
                    <h3><b>资源对接</b></h3>
                    <div>{$con.resource}</div>
                </div>
                <div class="s-list">
                    <h3><b>双创辅导</b></h3>
                    <div>{$con.assist}</div>
                </div>
                <div class="s-list">
                    <h3><b>项目申请</b></h3>
                    <div>{$con.project}</div>
                </div>
                <div class="s-list">
                    <h3><b>投融服务</b></h3>
                    <div>{$con.investment}</div>
                </div>
                <div class="s-list">
                    <h3><b>会议会展</b></h3>
                    <div>{$con.meeting}</div>
                </div>
                <div class="s-list">
                    <h3><b>年度评选</b></h3>
                    <div>{$con.appraise}</div>
                </div>
                <div class="s-list">
                    <h3><b>宣传推广</b></h3>
                    <div>{$con.publicity}</div>
                </div>

            </div>
        </div>

    </article>
</div>

{include file='public/footer' /}