{include file='public/header' /}
<body>
<div class="pd-20">
  <form class="Huiform" id="loginform">
    <input type="hidden" value="{$id}" name="m_id"/>
    <table class="table table-border table-bordered table-bg">
      <thead>
        <tr>
          <th colspan="2">修改密码</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="text-r">新密码：</th>
          <td><input name="m_password" id="password" class="input-text" type="password" autocomplete="off" placeholder="设置密码"  >
          </td>
        </tr>
        <tr>
          <th class="text-r">再次输入新密码：</th>
          <td><input name="re_password"  class="input-text" type="password" autocomplete="off" placeholder="确认新密码" >
          </td>
        </tr>
        <tr>
          <th></th>
          <td>
            <button class="btn btn-success radius" id="admin-password-save" name="admin-password-save"><i class="icon-ok"></i> 确定</button>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</div>

{include file='public/base_js' /}
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__STATIC__/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script>
  $(function () {
      $("#loginform").validate({
          rules:{
              m_password:{
                  required:true,
                  minlength:6,
                  maxlength:24
              },
              re_password:{
                  required:true,
                  equalTo: "#password"
              },

          },
          onkeyup:false,
          focusCleanup:true,
          success:"valid",
          submitHandler:function(form){
              $.ajax({
                  type: 'POST',
                  url: '{:url(\'member/save_pass\')}',
                  data:$('#loginform').serialize(),
                  dataType: 'json',
                  success: function(data){
                      if(data.code==1){
                          layer.msg(data.msg,{icon:1,time:1000},function () {
                              var index = parent.layer.getFrameIndex(window.name);
                              parent.layer.close(index);
                              window.location.href=window.location.href;
                          });
                      }else{
                          layer.msg(data.msg,{icon:1,time:1000},function () {
                              window.location.href=window.location.href;
                          });
                      }
                  },
                  error:function(data) {
                      console.log(data.msg);
                  },
              });

          }
      });
  })
</script>

</body>
</html>