{include file='aipiaward/head' /}
<!--专家评委-->
<div class="row vote-model" id="page3">
    <div class="col-md-12 col-sm-12 col-xs-12 page-bg" style="margin-bottom: 30px">

        <h1 class="page-title">
            <a href="javascript:history.go(-1);" class="more-class">&lt;&lt; 返回</a>
            专家评委
        </h1>
    </div>
    {foreach $data as $z}
    <div class="col-sm-6 col-md-3 col-xs-12 pw-item">
        <div class="thumbnail">
            <img src="__STATIC__/{$z.pics}" alt="...">
            <div class="caption">
                <h3>{$z.name}</h3>
                <p>
                    <b>领域：</b>{$z.level}</p>
                <p>
                    <b>简介：</b>{$z.describe|mb_substr=0,90,'utf-8'}</p>
                <p class="btn-mode">
                    <a href="{:url('vote/professor_des')}?id={$z.id}" class="btn btn-danger" role="button">查看详情</a>
                </p>
            </div>
        </div>
    </div>
    {/foreach}

    <div class="page-list">
        {$page}
    </div>
</div>

{include file='aipiaward/footer' /}